.cycles {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.6rem;

}

.cycleDots {
	display: flex;
	gap: 0.8rem;
}

.cycleDot {
	width: 2rem;
	height: 2rem;
	background-color: var(--primary);
	border-radius: 50%;
}

.workTime {
	background-color: rgb(240, 109, 69);
}

.shortBreakTime {
	background-color: #a08bc7;
}

.longBreakTime {
	background-color: rgb(234, 200, 96);

}